<a href="/">Go Back</a>
<h1>{{project.title}}</h1>
<div class="row">
<div class="large-6 columns">
	<img src="/images/portfolio/{{project.image}}">
</div>
<div class="large-6 columns">
	<ul>
		<li><strong>Project: </strong>{{project.title}}</li>
		<li><strong>Client: </strong>{{project.client}}</li>
		<li><strong>Service: </strong>{{project.service}}</li>
		<li><strong>Date: </strong>{{project.date}}</li>
	</ul>
	<hr />
	<p>{{project.description}}</p>
	<br />
	<a href="{{project.url}}">Visit Website</a>
</div>
</div>